.2_72 { 
	overflow:hidden;
}
.e2_72 { 
	background-color:rgb(177, 117, 169);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_89 { 
	box-shadow:0px 24px 32px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:944px;
	position:absolute;
	left:1000px;
	top:40px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
.e2_212 { 
	color:rgba(73.00000324845314, 80.00000283122063, 87.00000241398811, 1);
	width:336px;
	height:781px;
	position:absolute;
	left:1032px;
	top:72px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_118 { 
	color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	width:680px;
	height:288px;
	position:absolute;
	left:240px;
	top:168px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_147 { 
	width:680px;
	height:67px;
	position:absolute;
	left:240px;
	top:885px;
}
.e10_148 { 
	background-color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	width:328px;
	height:67px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.ei10_148_10_135 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:19px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.10_149 { 
	border:1px solid rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
}
.e10_149 { 
	width:328px;
	height:67px;
	position:absolute;
	left:352px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.ei10_149_10_138 { 
	color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	width:280px;
	height:19px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.10_154 { 
	border:1px solid rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
}
.e10_154 { 
	width:336px;
	height:67px;
	position:absolute;
	left:1032px;
	top:885px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.ei10_154_10_138 { 
	color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	width:288px;
	height:19px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e49_505 { 
	width:120px;
	height:48px;
	position:absolute;
	left:40px;
	top:40px;
}
.e49_506 { 
	width:120px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e49_507 { 
	background-color:rgba(10.000000353902578, 56.000000461936, 113.00000086426735, 1);
	width:31.085588455200195px;
	height:48px;
	position:absolute;
	left:44px;
	top:0px;
}
.e49_645 { 
	width:252px;
	height:18px;
	position:absolute;
	left:240px;
	top:851px;
}
.e49_646 { 
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:1px;
}
.e49_647 { 
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.e49_648 { 
	background-color:rgba(73.00000324845314, 80.00000283122063, 87.00000241398811, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}
.e49_649 { 
	color:rgba(73.00000324845314, 80.00000283122063, 87.00000241398811, 1);
	opacity:0.800000011920929;
	width:228px;
	height:18px;
	position:absolute;
	left:24px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
